* {
    box-sizing: border-box;
}

body, html {
    padding: 0px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: #111;
    color: #fff;
}

.parentHeader {
    width: 600px;
    background-color: darkblue;
    padding: 10px;
    border: 5px solid white;
}

.parentOtterFacts {
    text-align: left;
    width: 600px;
    background-color: darkblue;
    padding: 10px;
    border: 5px solid white;
}

.childOtterFacts {
    display: block;
    vertical-align: top;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.childOtterFacts img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.childOtterFactsImg2 img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parentCuteOtters {
    width: 600px;
    background-color: darkblue;
    padding: 10px;
    border: 5px solid white;
}

.childKeystone img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.childGroomingOtters img{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.childPups img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.childVideoTools iframe {
    width: 560px;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.childHands img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.childRaft img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parentFutureOtters {
    width: 600px;
    background-color: darkblue;
    padding: 10px;
    border: 5px solid white;
}

.childProtect img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
