* {
    box-sizing: border-box;
}

body, html {
    padding: 0px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: #ffd700;
    color: #fff;
    font-size: 1.4em;
    font-family: 'Signika Negative', sans-serif;
}

h1 {
    color: white;
    text-shadow: -2px 0 navy, 0 2px navy, 2px 0 navy, 0 -2px navy;
}

h2 {
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.parentHeader {
    width: 95%;/*600px;*/
    background-color: paleturquoise; /*darkblue;*/
    color: black;
    padding: 10px;
    border: 5px solid paleturquoise;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 20px:
}



.parentOtterFacts {
    text-align: left;
    width: 95%;
    background-color: Orange; /*darkblue;*/
    color: black;
    border: 5px solid Orange;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 20px:
}

.parenth2 {

}

.childOtterFacts {
    display: block;
    vertical-align: top;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.childOtterFacts img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid yellow;
}

.childOtterFactsImg2 img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parentCuteOtters {
    width: 95%;
    background-color: #00cc66; /*darkblue;*/
    color: black;
    padding: 10px;
    border: 5px solid #00cc66;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 20px:
}

.childKeystone img {
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid purple;
}

.childGroomingOtters img{
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid yellow;
}

.childPups img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid purple;
}

.childVideoTools iframe {
    width: 890px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid yellow;
}

.childHands img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid purple;
}

.childRaft img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid yellow;
}

.parentFutureOtters {
    width: 95%;
    background-color: lightcyan; /*darkblue;*/
    color: black;
    padding: 10px;
    border: 5px solid lightcyan;
    margin-left: auto;
    margin-right: auto;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 20px:
}

.childProtect img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid purple;
}
